@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Rules for base elements
 */
html {
  font-size: 62.5%;
  font-family: "Muli", Arial, sans-serif; }

body {
  margin: 0;
  background: url("../img/e-pattern.jpg"); }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

ul, ol {
  padding-left: 2em;
  list-style: none; }

p {
  overflow: hidden;
  color: #ededed; }

a {
  text-decoration: none;
  color: #e5a929; }

a:hover {
  text-decoration: underline; }

h1 {
  font-size: 25px;
  font-size: 2.5rem;
  color: #52C0D3; }

h2 {
  font-size: 20px;
  font-size: 2rem; }

h3 {
  font-size: 15px;
  font-size: 1.5rem; }

h2, h3 {
  color: #52C0D3; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

.review-fav li {
  color: #e5a929; }

.wrapper {
  background: #1c1b1b;
  box-shadow: 0 0 103px 58px #1c1b1b; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

header {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }

section {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  padding: 0 3%; }
  section:last-child {
    margin-right: 0; }

.product-img, .product-info {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%;
  margin-right: 0;
  margin: 18px 4%; }
  .product-img:last-child, .product-info:last-child {
    margin-right: 0; }

.product-description-info {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 57.3509785009%; }
  .product-description-info:last-child {
    margin-right: 0; }

.product-comment {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%; }
  .product-comment:last-child {
    margin-right: 0; }

.product-description {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
  margin-right: 0;
  margin: 18px 4%; }
  .product-description:last-child {
    margin-right: 0; }

.related-list li {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  margin-right: 0; }
  .related-list li:last-child {
    margin-right: 0; }

.product-img-list li {
  display: inline-block;
  float: left; }

.related {
  margin-left: 8.5298042998%; }

.review-fav {
  padding: 0; }
  .review-fav li {
    display: inline-block;
    float: left; }

.reviews {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
  margin-left: 8.5298042998%; }
  .reviews:last-child {
    margin-right: 0; }

.review-user {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  display: inline-block; }
  .review-user:last-child {
    margin-right: 0; }

.review-comment {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%;
  margin-right: 0; }
  .review-comment:last-child {
    margin-right: 0; }
  .review-comment p {
    width: 100%; }
  .review-comment ul {
    width: 100%; }

.review-user h3, .review-comment h3 {
  margin-bottom: 5px; }

label,
.webform-container-inline label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px; }

label.option {
  display: inline;
  font-weight: 400;
  margin-left: 0.5em; }

select {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: solid #e1e1e1 1px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; }
  @media screen and (min-width: 767px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 300px; } }

input[type="checkbox"],
input[type="radio"] {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input[type="submit"] {
  border: 0;
  outline: 0;
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (min-width: 767px) {
    input[type="submit"] {
      width: auto;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0; } }

.form-type-radio {
  margin-bottom: 5px; }

.field-widget-text-textarea .form-type-textarea {
  margin-bottom: 10px; }

.filter-wrapper {
  border: 0;
  background: #fff;
  border-radius: 5px; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.webform-component {
  margin-bottom: 15px; }

.header-product {
  padding: 50px 3%; }

.review-block {
  border: 1px solid #52C0D3;
  border-radius: 3px;
  overflow: hidden;
  background: #2D2D2D;
  padding: 8px 4%;
  box-shadow: -7px -7px 3px 0px #52C0D3; }

.active {
  float: left;
  display: block;
  margin-right: 2.8425855704%;
  width: 100%; }
  .active:last-child {
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */