.review-block{
    border: 1px solid #52C0D3;
    border-radius: 3px;
    overflow: hidden;
    background: #2D2D2D;
    padding: 8px 4%;
    box-shadow: -7px -7px 3px 0px #52C0D3;
}

.product-comment{

}
